
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .storelocator-frontend-index {

    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .storelocator-frontend-index {
        .column main {
            width: 100%;

            .store-locator-main {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
            }
        }

    }

}
