*
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt
!/.github
!/.github/*
!/phpcs.xml
!/phpmd.xml
!Gruntfile.js
!grunt-config.json
!.eslintrc
!.prettierrc
!.stylelintrc
!package.json
!dev/tools/grunt/configs/local-themes.js
.DS_Store
Casks
!auth.json
!.warden.env.dist
